<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/login.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div id="FormContainer">
        <h1>Login Please</h1>
        <form action="/" method="POST">
            <div class="formData">
                <label for="id">Id</label>
                <input id="id" name="id" type="text" placeholder="ID">
            </div>
            <div class="formData">
                <label for="pwd">Password</label>
                <input id="pwd" name="pwd" type="password" placeholder="Password">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>