
.icon-heart:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-thumbs-up:before { content: '\e803'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
