* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}

button span:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: all 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
